$bg-color: rgb(190, 235, 220);
$primary-color: #00545f;
$text-color: #333;
$font-family-main: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$button-font-family: "Arial", sans-serif;
$button-font-size: 16px;

.profile-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $bg-color;
  font-family: $font-family-main;

  h1 {
    position: absolute;
    top: 20px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $text-color;
    user-select: none;
  }

  .return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: $button-font-size;
    font-family: $button-font-family;
  }
  .delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:rgb(129, 67, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: $button-font-size;
    font-family: $button-font-family;
  }
}
