.save-quote-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
    font-size: 16px;
}

.save-quote-button:hover {
  background-color: #789f7a;
}
